@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.fa-heart {
    color: red;
    font-size: 25px;
    position: absolute;
    animation:  heartMove linear 0.9;
    top: -10vh;
    z-index: 0;
}

@keyframes heartMove {
    0%{
        transform: translateY(-10vh) ;
    }
    100%{
        transform: translateY(110vh) ;
    }
}
